.project-container {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.project-wrapper {
  background-color: rgba(255, 255, 255, 0.029);
  backdrop-filter: blur(10px);
  padding: 20px;

  color: white;
  width:90%;
  max-width: 900px;
  min-height: 75%;
  display: flex;
  
}

.project-grid-container{
    width:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap:10px;
}

.project-grid-item{
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: center;
}
