.home-container {
  min-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../../assets/bg-main.jpg");
  background-repeat: repeat;
}
.home-wrapper {
  background-color: rgba(255, 255, 255, 0.059);
  padding: 20px;
  backdrop-filter: blur(10px);
  display: flex;
  min-height: 50%;
  max-width: 75%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.home-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 3rem;
  color: #f8f9fa;
  letter-spacing: 3px;
}
.home-description {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  color: #ced4da;
  margin-bottom: 40px;
}

.home-tech-stack {
  width: 75%;
  display: flex;
}

@media screen and (max-width: 768px) {
  .home-description {
    font-size: 1.1rem;
  }
}
