.product-card-wrapper {
  display: flex;
  margin-bottom: 40px;
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.product-card-img {
  display: flex;
  align-items: center;
}

.product-card-img img {
  height: 200px;
  width: 300px;
}

.product-card-content {
  margin-left: 20px;
}

.product-card-title {
  margin-bottom: 20px;
  color: #6b9080;
  font-size: 1.5rem;
  font-weight: 600;
}

.product-card-description {
  margin-bottom: 20px;
  color: #eaf4f4;
}

.product-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-actions button {
  margin: auto;

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 48px;
  
}

.product-card-actions button:disabled {
  background-color: #393939;
}



.product-card-actions button:disabled:hover {
  background-color: #393939;

}

.product-card-actions button:hover {
  background-color: #1db954;
}


@media screen and (max-width: 768px) {
  .product-card-img {
    display: none;
  }
}
