.App {
  padding-top: 65px; 
  text-align: center;
  margin: 0;
  display: grid;
  height: 100%;
  width:100%;
  flex-direction: column;

}
.full-screen {
  min-height: 100vh;
  min-width:100vw;
  
}

::-webkit-scrollbar {
  display: none;
}
